@import "./common/define.scss";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.join_button { 
  width: 60%;
  height: 40px;
  margin-left: 20%;
  background-color: rgb(240, 96, 80);
  @include radius(10px);
  border: 0px;
  color: white;
  font-size: 15px;
}
