@import "./common/define.scss";

@mixin drawingboard_button {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 32px;
  border: 1px solid white;
  background-color: transparent;
  @include radius(8px);
  color: white;
  font-size: 15px;
}

html {
  height:100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: black;
  @include flex;
  @include align-items(center);
}


@import "./common/mask.scss";

.container {
  width: 100%;
}

.top_bar {
  width: 100%;
  @include flex;
  .drawingboard_button {
    @include drawingboard_button;
    width: 40%;
  }
}

.drawingboard_container {
  width: 100%;
  canvas {
    width: 100%;
    background-color: white;
  }
}

.controls {
  @include flex;
  @include flex-wrap;
  .control_button {
    @include drawingboard_button;
    margin-left: 5%;
    width: 18%;
  }
  .tools_container {
    @include drawingboard_button;
    padding: 0px;
    margin-left:2%;
    width: 70%;
    @include align-items(center);
    @include flex;
    @include justify-content(space-between);
    .tool {
      text-align: center;
      height: 100%;
      @include flex;
      @include align-items(center);
      div {
        font-size: 15px;
        height: 90%;
        margin: 0px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 5px;
        @include radius(8px);
        p {
          height: 100%;
          margin: 0px;
          margin-top: 10%;
        }
      }
    }
    .size {
      height: 100%;
      margin-right: 10px;
      @include flex;
      @include align-items(center); 
      .size_item {
        @include flex;
        @include justify-content(center);
        @include align-items(center); 
        height: 100%;
        width: 25px;
      }
      
      .size_icon {
        @include radius(50%);
        border: 1px solid white;
        background-color: black;
      }
      
      #small_size {
        .size_icon {
          width: 5px;
          height: 5px;
        }
      }
      #middle_size {
        .size_icon {
          width: 10px;
          height: 10px;
        }
      }
      #large_size {
        .size_icon {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
  
  #upload_button {
    margin-left:2%;
    width: 70%;
    @include flex;
    @include align-items(center);
    @include justify-content(center);
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    color: black;
    .upload_button_icon {
      width: 20px;
    }
    p {
      margin: 0px;
    }
  }
}
