@import "./common/define.scss";

html {
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.image_container {
  text-align: center;
  @include flex;
  @include flex-direction(column);
  width: 100%;
  .activity_image {
    display: block;
    width: 100%;
  }
  .activity_detail_container {
    margin-top: -100px;
    width: 100%;
    .activity_detail_button {
        font-size: 12px;
        border: 0;
        background-color: white;
        @include shadow;
        @include radius(5px);
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
  }
}

.join_container {
  background-color: rgba(0, 0, 0, 0.8);
  height: 58px;
  @include flex;
  position: fixed;
  bottom: 0px;
  @include justify-content(space-between);
  @include align-items(center);
  width: 100%;
  color: white;
  font-size: 14px;
  p {
    margin: 0px;
    width: 65%;
    margin-left: 20px;
  }
  .join_button {
    @include radius(4px);
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    background-color: #FFEA00;
    height: 30px;
    margin-right:20px;
  }
}


