@mixin card {
  margin-bottom: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

@mixin justify-content($value: center) {
  -webkit-justify-content: $value;
  -moz-justify-content: $value;
  -ms-justify-content: $value;
  -o-justify-content: $value;
  justify-content: $value;
}

@mixin flex-basis($length: 100px) {
  -webkit-flex-basis: $length;
  -moz-flex-basis: $length;
  -ms-flex-basis: $length;
  -o-flex-basis: $length;
  flex-basis: $length;
}

@mixin flex-grow($value: 1) {
  -webkit-flex-grow: $value;
  -moz-flex-grow: $value;
  -ms-flex-grow: $value;
  -o-flex-grow: $value;
  flex-grow: $value;
}

@mixin flex-wrap($wrap: wrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  -o-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin flex-direction($direction: row) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  -o-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin gray {
  background-color: #F9F9F9;
}

@mixin shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@mixin radius($value: 5px) {
  -moz-border-radius: $value;
  -webkit-border-radius: $value;
  border-radius: $value;
}

@mixin rotate($value: 20deg) {
  -ms-transform: rotate($value);
  -webkit-transform: rotate($value);
  transform: rotate($value);
}

@mixin preserve-3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@font-face {
  font-family: 'PingFang Regular';
  src: url('../font/PingFang Regular.eot');
  src:
    url('../font/PingFang Regular.eot?#font-spider') format('embedded-opentype'),
    url('../font/PingFang Regular.woff2') format('woff2'),
    url('../font/PingFang Regular.woff') format('woff'),
    url('../font/PingFang Regular.ttf') format('truetype'),
    url('../font/PingFang Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin gradient-mask {
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

html{
  font-family: 'PingFang Regular';
  background-color: #264A62;
}

body {
  height:100%;
  margin:0px;
  padding:0px;
}

#map_container {
  position:relative;
  height:360px;
}

.renyan_container {
  @include flex;
  @include flex-direction(column);
  position:absolute;
  margin-top: -42px;
  width: 100%;
}

.title_block {
  p {
    color: white;
  }
  @include flex;
  height: 85px;
  width: 100%;
  .spread_img_container {
    @include flex-grow(1);
    height: 100%;
    text-align: center;
    img {
       height: 100%;
    }
  }
  .spread_text_container {
    @include flex-grow(1);
    text-align: center;
    p {
      margin-top: 50px;
      font-size: 14px;
    }
  }
}

.line {
  height: 1px;
  background-color: rgba(4, 219, 199, 0.5);
  margin-left: 10%;
  width: 80%;
}

.data_container {
  color: white;
  text-align: center;
  width: 100%;
  .number {
    font-size:32px;
    margin: 0px;
  }
  .description {
    font-size: 15px; 
    margin: 0px;
    margin-top: 17px;
  }
  .text_container {
      @include flex;
      @include justify-content(center);
  }
  #view_container {
    .text_container {
      margin: 15px;
      @include flex;
      @include justify-content(center);
    }
  }
 #spread_rate {
   text-align: center;
   .container {
      margin: 15px;
      img {
        width: 200px;
        height: 200px;
      }
      .hot_level {
        @include flex;
        @include justify-content(center);
        p {
          font-size: 15;
        }
      }
   }
 }
 #spread_distance {
  .text_container {
    margin: 15px;
  }
 }
 #spread_hot_rate {
  .text_container {
    margin: 15px;
  }
 }
 
}

.content_container {
  @include flex;
  @include flex-direction(column);
  font-family:Helvetica-Light;
  width:100%;
  .content_card {
    @include flex-basis(450px);
    @include card;
    @include radius(5px);
    background-color: white;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left:10%;
    .main_container {
      @include flex;
      @include flex-direction(column);
      .rect_image_container {
        position: relative;
        overflow: hidden;
        width: 90%;
        margin-top:20px;
        margin-left: 5%;
        img {
          width: 100%;
        }
      }
      .content_text {
        font-size: 15px;
        width: 90%;
        margin-left: 5%;
      }
      .album_name_container {
        width: 100%;
        @include flex;
        @include justify-content(flex-end);
         .album_name {
           font-size: 13px;
           margin: 0px;
           margin-right: 3%;
           margin-bottom: 30px;
         }
      }
    }
  }
}

.notice_download {
  color: white;
  width: 100%;
  text-align: center;
  p {
    margin-top: 0px;
    font-size: 15px;
  }
  .line {
    margin-bottom: 10px;
  }
}

.user_info_block {
  color: white;
  width: 100%;
  .user_info_container {
    width: 60%;
    margin-left: 20%;
    text-align:center;
    .user_avatar {
      width: 40%;
      @include radius(50%);
    }
    p {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 15px;
    }
  }
  .user_data {
    @include flex;
    @include flex-direction(row);
    p {
      @include flex-grow(1);
    }
  }
}

.download_banner {
  @include flex;
  @include justify-content(space-between);
  width: 100%;
  background-color: #222222;
  @include radius(2px);
  .logo {
    @include radius(5px);
    height: 40px;
    margin: 8px;
    margin-left: 15px;
  }
  .text_container {
    width: 50%;
    p {
      font-size: 12px;
      color: white;
      height: 30%;
      margin: 6px;
    }
    .title {
      font-size: 15px; 
    }
  }
  .download_button {
    margin: 14px;
    margin-left: 5px;
    margin-right: 8px;
    height: 30px;
    background-color: yellow;
    @include radius(5px);
    color: black;
    text-align: center;
  }
}

.album_list {
  color: white;
  text-align:center;
  width: 100%;
  margin-top:10px;
  margin-bottom: 10px;
  .line {
    width: 30%;
    margin-left: 35%;
  }
  .album_content {
    width: 90%;
    height: 100px;
    margin: 5%;
    text-align: center;
    @include preserve-3d;
    .album_cover_container {
      @include shadow;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        width: 100%;
        @include vertical-align();
      }
    }
    .mask {
      margin-top:- 100px;
      width: 100%;
      height: 50px;
      transform: translateZ(1px);
      @include gradient-mask;
    }
    p {
      transform: translateZ(1px);
      margin-top: -40px;
    }
  }
}


.location_circle {
  position: absolute;
  @include shadow;
  @include radius(50px);
}

.meteor_container {
  position: absolute;
}

.meteor_icon {
  left: 10%;
  top: 45%;
  height: 10%;
  width: 40%;
  position: relative;
}


