<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <title><%= title %></title>
  <link href="/stylesheets/activity.css" rel="stylesheet">
</head>
<body>
  <button class="join_button" onclick="clickJoin()">马上参与</button>
  <button class="join_button" onclick="openRy()">打开App</button>
  <script src="/javascripts/common/sendMassage.js" type="text/javascript"></script>
  <script src="/javascripts/activity/index.js" type="text/javascript"></script>
  <script type="text/javascript">
    function openRy () {
      window.location = 'renyanapp://'
    }
  </script>
</body>
</html>
