<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <title><%= title %></title>
  <link href="/stylesheets/drawingboard.css" rel="stylesheet">
</head>
<body>
  <div id="drawingboard_container">
    <div id="drawingboard_control">
      <button class="control_button" id="go_back" onclick="goback()">
        back
      </button>
      <button class="control_button" id="go_font" onclick="gofont()">
        font
      </button>
      <button class="control_button" id="pencil">
        pencil
      </button>
      <button class="control_button" id="eraser">
        eraser
      </button>
    </div>
    <canvas with="400" height="400" id="drawingboard"></canvas>
  </div>
  <script src="/javascripts/common/sendMassage.js" type="text/javascript"></script>
  <script src="/javascripts/dist/drawingboard.js" type="text/javascript"></script>
</body>
</html>
