<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <title>Error</title>
  <link href="/stylesheets/error.css" rel="stylesheet">
</head>
<body>
  <div class="error_icon_area">
      <div class="error_icon">!</div>
      <div class="error_message"><%= message %></div>
      <div class="error_status"><%= error.status %></div>
      <pre class="error_stack"><%= error.stack%></pre>
  </div>
</body>
</html>

