<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <title>出错了</title>
  <link href="/stylesheets/error.css" rel="stylesheet">
</head>
<body>
  <div class="error_image_container">
      <img src="http://7xpecj.com1.z0.glb.clouddn.com/1/error_image.png" alt="" class="error_image">
  </div>
  <div class="error_description_container">
      <p class="aiya">
        哎呀~
      </p>
      <p class="error_description">
      你访问的网页</br>
      似乎发到宇宙深处了
      </p>
  </div>
</body>
</html>

