<!DOCTYPE html>  
<html>  
<head>  
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<title>React</title>  
<script type="text/javascript" src="/javascripts/bower_components/react/react.min.js"></script>
<script type="text/javascript" src="/javascripts/bower_components/react/react-dom.min.js"></script>
<link href="/stylesheets/common/base.css" rel="stylesheet">
<link href="/reactstyles/myReact.css" rel="stylesheet">
</head>  

<body>  
  <script type="text/javascript" src="/javascripts/dist/myReact.js"></script>
</body>  
</html>



