<!DOCTYPE html>  
<html>  
<head>  
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<title>React</title>  
<script type="text/javascript" src="/javascripts/bower_components/react/react.min.js"></script>
<script type="text/javascript" src="/javascripts/bower_components/react/react-dom.min.js"></script>
<link href="/stylesheets/myReact.css" rel="stylesheet">
</head>  

<body style="margin: 0">  
  <div style="margin: 0;display: none">
    <img src="http://7xpecj.com1.z0.glb.clouddn.com/2/renyan_logo.png" alt="logo"/>
  </div>
  <div class="renyan_container" id="container">
    
  </div>
  <script type="text/javascript" src="/javascripts/dist/myReact.js"></script>
</body>  
</html>



