<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <title>js功能测试</title>
  <link href="/stylesheets/sendMessage.css" rel="stylesheet">
  <script type="text/javascript" src="/javascripts/common/sendMassage.js"></script>
</head>
<body>  
  <div class="button_container">
    <button class="function_button" onclick="joinActivity()">打开发布页</button>
    <button class="function_button" onclick="share()">分享</button>
    <button class="function_button" onclick="showActivityDetail(1)">查看活动详情</button>
  </div>
</body>
</html>
