<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="/stylesheets/video.css" rel="stylesheet">
  <title><%- content.title %></title>
</head>
<body>
  <div class="container">
    <video id="video_player" src="<%- content.videoRealUrl  %>" class="video_player" controls></video>
    <div onclick="play()" id="poster_container" class="video_poster_container">
      <img src="<%- content.videoRealPost %>" alt="" class="video_poster">
    </div>
  </div>
  <script type="text/javascript">
     var player = document.getElementById('video_player')
     var container = document.getElementById('poster_container')
     function play() {
       player.play()
       player.style.opacity = 1
       container.style.opacity = 0
       container.style.display = 'none'  
     }
  </script>
</body>
</html>
