
@import "./common/define.scss";

html {
  width: 100%;
  height: 100%;
  background-color: black;
}

body {
  @include flex;
  @include align-items(center);
  @include justify-content(center);
  margin: 0px;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  .video_player {
    width: 100%;
  }
}


