@import "../common/define.scss";

@mixin drawingboard_button {
  margin: 10px;
  height: 32px;
  border: 1px solid white;
  background-color: transparent;
  @include radius(5px);
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 15px;
}

html {
  height:100%;
  font-family: Helvetica-Light;
}

body {
  @include flex;
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  height: 100%;
  margin: 0;
  background-color: black;
}

.container {
  color: white;
  text-align: center;
  .game_icon_image {
    width: 50%;
    background-color: transparent;
  }
  .chinese_title {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .english_title {
    font-size: 12px;
    margin-top: 0px;
    color: #999999;
  }
  p {
    width: 80%;
    margin-left: 10%;
  }
  .join_game {
    @include drawingboard_button;
    width: 30%;
    color: black;
    font-family: Helvetica-Light;
    margin-top: 20px;
    margin-bottom: 60px;
    background-color: white;
  }
}

.bottom_container {
  @include flex;
  color: white;
  width: 100%;
  background-color: #353535;
  position: fixed;
  bottom: 0px;
  .bottom_button {
    font-family: Helvetica-Light;
    @include drawingboard_button;
  }
  .in_app {
    width: 40%;
  }
  .out_app {
    width: 80%;
  }
}

.container_in_app {
  @include justify-content(space-between);
}

.container_out_app {
  @include justify-content(center);
}


