@import "../common/define.scss";

@mixin drawingboard_button {
  margin: 10px;
  height: 32px;
  border: 1px solid white;
  background-color: transparent;
  @include radius(5px);
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 15px;
}

html {
  height:100%;
  font-family: Helvetica-Light;
}

body {
  height: 100%;
  margin: 0;
  background-color: black;
}

.container {
  margin-top: 10px;
  color: white;
  text-align: center;
  .work_image {
    width: 80%;
    background-color: white;
  }
  .title_container {
    @include flex;
    @include justify-content(space-between);
    .text {
      width: 50%;
      margin-left: 25%;
      margin-top: 10px;
    } 
    .share_arrow {
      margin-top: 10px;
      height: 15px;
      margin-right: 15px;
    }
  }
  .text {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
  }
  .like_container {
    @include flex;
    @include justify-content(center);
    img {
      height: 15px;
      margin-right: 20px;
    }
    p {
      font-size: 12px;
      margin: 0;
    }
  }
  .button_container {
    button {
      @include drawingboard_button;
      width: 30%;
      color: black;
      font-family: Helvetica-Light;
      margin-top: 10px;
      margin-bottom: 60px;
      background-color: white;
    }
  }
}

.bottom_container {
  @include flex;
  color: white;
  width: 100%;
  background-color: #353535;
  position: fixed;
  bottom: 0px;
  .bottom_button {
    font-family: Helvetica-Light;
    @include drawingboard_button;
  }
  .in_app {
    width: 40%;
  }
  .out_app {
    width: 80%;
  }
}

.container_in_app {
  @include justify-content(space-between);
}

.container_out_app {
  @include justify-content(center);
}

