<div class="download_banner">
  <div class="info_block">
    <img src="/images/logo.png" alt="" class="logo">
    <div class="text_container">
      <p class="title"><%- info.title %></p>
      <p><%= info.desc %></p>
    </div>
  </div>
  <a href="<%- link %>">
    <img src="<%- icon %>" alt="" class="download_button">
  </a>
</div>
