<% var id = id, message = message, confirm = confirm, cancel = cancel, text = text %>
<% if (id) { %>
<div class="renyan_mask_hide renyan_mask" id="<%= id %>">
<% } else { %>
<div class="renyan_mask" >
<% } %>
  <div class="renyan_mask_message_container">
     <p class="renyan_mask_message"></p>
    <% if (text) { %>
        <input class="renyan_mask_text" type="text">
     <% } %>
    <% if (confirm) { %>
        <button class="renyan_mask_confirm_button"></button>
     <% } %>
     <% if (cancel) { %>
        <button class="renyan_mask_cancel_button"></button>
     <% } %>
  </div> 
</div>
