
<div class="user_info_block">
  <div class="user_info_container">
    <img class="user_avatar" src="<%= profile.smallPicture %>" alt="">
      <p class="profle_name"><%= profile.name %></p>
      <div class="user_data">
        <p>浏览数: <%= profile.view %></p>
        <p>关注数: <%= profile.subscribe %></p>
      </div>
  </div>
</div>
