<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <title><%= title %></title>
  <link href="/stylesheets/drawingboard.css" rel="stylesheet">
  <script src="/javascripts/common/sendMassage.js" type="text/javascript"></script>
</head>
<body>
  <div class="container">
    <div class="top_bar">
       <button onclick="watchOthers()" class="drawingboard_button">围观作品</button>
    </div>
    <div class="drawingboard_container">
      <canvas id="drawingboard" width="400px" height="400px"></canvas>
    </div>
    <div class="controls">
      <button id="goback_button" class="control_button" onclick="goback()">撤销</button>
      <div class="tools_container">
        <div class="tool">
           <div class="pencil" id="pencil">
            <p>画笔</p>
           </div>
           <div class="eraser" id="eraser">
             <p>橡皮</p>
           </div>
        </div>
        <div class="size">
         <div class="size_item" id="small_size">
          <div class="size_icon"></div>
         </div>
         <div class="size_item" id="middle_size">
          <div class="size_icon"></div>
         </div>
         <div class="size_item" id="large_size">
          <div class="size_icon"></div>
         </div>
        </div>
      </div>
      <button class="control_button" id="clear_button" onclick="clearCanvas()">清除</button>
      <button class="control_button" id="plan_button">计划</button>
      <button class="control_button" id="upload_button" onclick="uploadImage()"> 
        <img class="upload_button_icon" src="/images/upload_button_icon.png" alt="">
        <p>上传</p>
      </button>
    </div>
  </div>
  <script src="/javascripts/dist/drawingboard.js" type="text/javascript"></script>
  <script type="text/javascript">
    function watchOthers() {
      window.location.href = '/drawingboard/works'
    }
  </script>
</body>
</html>
