<!DOCTYPE html>  
<html>  
<head>  
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=5658086d6c430da1b17d0452dc1952c6"></script>
  <script type="text/javascript" src='/javascripts/common/ajax.js'></script>
  <script type="text/javascript" src='/javascripts/common/sendMassage.js'></script>
  <link href="/stylesheets/drawingboard/readme.css" rel="stylesheet">
  <title>十万喵星人拯救计划</title>
</head>  
  <div class="container">
    <p class="title_text">十万喵星人拯救计划</p>
    <div class="readme_container">
      <p class="readme_text">全球75%的喵星人处于流浪状态，从出生那刻起，就未曾被善待过。
我们不愿眼睁睁地看着他们在这城市里挣扎求生，「人言app」在此发起一项公益救助活动——“十万流浪喵拯救计划”。
你只需画出心中的喵星人，作品即纳入“公益猫粮”爱心箱，将转化成为流浪喵的“免费午餐”。为无家可归的喵星人伸出援手，一起完成爱心接力吧！</p>
    </div>
    <img src="http://7xpecj.com1.z0.glb.clouddn.com/2/cat_food_white.png" alt="" class="icon">
  </div>
  <div id="bottom_container" class="bottom_container container_in_app">
    <button onclick='makeNew()' id="bottom_makenew_button" class="bottom_button in_app">我要创作</button>
    <button onclick="watchOthers()" class="bottom_button in_app">围观作品</button>
  </div>
  <script type="text/javascript">
    function makeNew () {
      window.location.href = '/drawingboard/index'
    }
    function watchOthers() {
      window.location.href = '/drawingboard/works'
    }
  </script>
</body>  
</html>


