<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <title><%= title %></title>
  <link href="/stylesheets/artwork.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <p>赶快分享给大家看</p>
    <img src="<%= work.image %>" alt="">
    <p>我画出了一只天才才能画出来的猫！大家快来围观啊！</p>
  </div>
  <div class="bottom_container">
    <button onclick='watchOthers()' class="bottom_button">围观作品</button>
    <button onclick='makeNew()' class="bottom_button">继续创作</button>
  </div>
  <script src="/javascripts/common/sendMassage.js" type="text/javascript"></script>
  <script type="text/javascript">
  function makeNew () {
    window.location.href = '/drawingboard/index'
  }
  function watchOthers() {
    window.location.href = '/drawingboard/works'
  }
  </script>
</body>
</html>
